[Unit]
Description=hyperlane {{ chain }}
After=network-online.target

[Service]
User={{ ansible_user }}
WorkingDirectory={{ user_directory }}/.{{ chain }}
EnvironmentFile={{ user_directory }}/.{{ chain }}/.env
ExecStart={{ user_directory }}/.{{ chain }}/hyperlane_validator --metrics-port {{ port_prefix }}90
Restart=always
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target